/* login */
strong {
  color: var(--cyan);
}

.login {
  position: relative;
  height: 100%;
  background: rgb(0, 255, 255);
  background: var(--gradient);
}

.login > div {
  -webkit-animation: fadeIn;
  animation: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.login-info-container {
  position: relative;
}

.liquid-shape {
  z-index: 3;
}

.shape,
.liquid-shape,
.login-button {
  position: absolute;
}

.shape:nth-of-type(1) {
  top: -18em;
  left: -18em;
}

.shape:nth-of-type(2) {
  bottom: -23em;
  right: -23em;
}

.liquid-shape {
  -webkit-animation: liquid-anim 10s linear infinite;
  animation: liquid-anim 10s linear infinite;
}

@-webkit-keyframes liquid-anim {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.3);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes liquid-anim {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(1.3);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.login-button {
  bottom: 2.5em;
  z-index: 4;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .liquid-shape {
    width: 70em;
    height: 70em;
  }

  .login-info > img {
    width: 9em;
    height: 9em;
  }

  .shape:nth-of-type(1) {
    width: 45em;
    height: 45em;
  }

  .shape:nth-of-type(2) {
    width: 55em;
    height: 55em;
  }

  .login-info > * {
    margin: 0.5em 0;
  }

  .login-info > h2 {
    font-size: 2.3em;
  }

  .login-info > h1 {
    font-size: 2.6em;
  }

  .login-button {
    font-size: 1em;
    padding: 1em 2em;
  }
}
