/* Root Layout */
.root-layout {
  height: 100%;
  background-color: #000;
}

.root-layout {
  -webkit-animation: fadeIn;
  animation: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.root-layout > main {
  overflow: auto;
}

.root-layout > main > div {
  overflow: auto;
  width: 100%;
  background-color: var(--light-dark);
}

.root-layout > footer {
  /* bottom: 0;
  left: 0; */
  width: 100%;
}

footer {
  z-index: 10;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .root-layout aside {
    width: 7em;
  }

  .root-layout > main > div {
    margin: 0.5em 0.5em 0;
    padding: 1em 3em;
    border-radius: 10px;
  }

  .root-layout > main > aside {
    margin: 0.5em 0.5em 0;
  }

  .root-layout > main > aside > nav {
    border-radius: 10px;
    padding: 1.5em ;
  }
}
