/* Root Layout */
.root-layout,
main {
  height: 100%;
}

.root-layout {
  animation: fadeIn;
  animation-duration: 1.5s;
}

.root-layout aside,
.root-layout > footer {
  position: fixed;
}

.root-layout aside {
  top: 0;
  left: 0;
  width: 7em;
  height: 100%;
}

.root-layout > main {
  margin-left: 9em;
  height: 2000px;
  width: 2000px;
}

.root-layout > main > div {
  width: 100%;
  overflow: auto;
}

.root-layout > footer {
  bottom: 0;
  left: 0;
  width: 100%;
}
