/* Root Layout */
.root-layout {
  height: 100%;
  background-color: #000;
}

.root-layout {
  -webkit-animation: fadeIn;
  animation: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.root-layout > main {
  overflow: auto;
  height: 100%; 
}

.root-layout > main > div {
  overflow: auto;
  width: 100%;
  background-color: var(--light-dark);
}

.root-layout > footer {
  width: 100%;
}

footer {
  z-index: 10;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .root-layout aside {
    width: 7em;
  }

  .root-layout > main > div,
  .root-layout > main > aside > nav {
    border-radius: 8px;
  }

  .root-layout > main > div,
  .root-layout > main > aside {
    margin: 8px 8px 0;
  }

  .root-layout > main > div {
    padding: 1em 2.5em;
    margin-left: 0 !important;
  }

  .root-layout > main > aside > nav {
    padding: 1.5em 2em;
  }
}
