/* Album Table Cell */
.album-table-cell {
  transition: 0.3s;
}

.album-table-cell:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.album-table-cell td {
  color: var(--gray) !important;
  border-bottom: none;
  font-family: var(--manrope);
  font-weight: 600;
}

.album-table-cell > td:first-of-type {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.album-table-cell > td:last-of-type {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.album-table-cell td > svg {
  stroke: var(--white);
  cursor: pointer;
}

.album-cell-title a {
  color: var(--white) !important;
}

.album-cell-artists a {
  color: var(--gray) !important;
}

.album-cell-title a,
.album-cell-artists a {
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.3s;
}

.album-table-cell:hover .album-cell-title a,
.album-table-cell:hover .album-cell-artists a {
  color: var(--white) !important;
}

.album-cell-artists a:hover, .album-cell-title a:hover {
  text-decoration: underline;
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .album-table-cell td {
    font-size: 0.95em;
    padding: 1em;
  }

  .album-table-cell td > svg,
  .index {
    width: 2.5em;
    height: 2.5em;
  }

  .album-cell-title {
    font-size: 1.1em;
    margin-bottom: 0.3em;
  }

  .album-cell-artists {
    font-size: 0.95em;
  }

  .table-cell-options .like-button svg {
    width: 1.5em;
    height: 1.5em;
  }

  .table-cell-options .like-button {
    margin-right: 0.5em;
  }

  .table-cell-options .more-options-button svg {
    width: 1.2em;
    height: 1.2em;
  }
}
