/* Music Table */
.table-container {
  background-color: transparent !important;
  color: var(--gray) !important;
}

.table-head th,
.table-body td {
  color: var(--gray) !important;
  font-family: var(--manrope);
}

.table-head th {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  font-weight: 700;
}

.table-body td {
  border-bottom: none;
  font-weight: 600;
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .table-margin {
    height: 20px; 
  }

  .table-head th {
    font-size: 1em;
    padding: 1.5em 1em;
  }

  .table-head th > svg {
    width: 1.4em;
    height: 1.3em;
  }

  .table-body td {
    font-size: 0.95em;
    padding: 1em;
  }
}
