/* Music Table */
.music-table {
  -webkit-animation: fadeInLeft;
  animation: fadeInLeft;
  -webkit-animation-duration: 2.5s;
  animation-duration: 1.5s;
}

.table-container {
  background-color: transparent !important;
  color: var(--gray) !important;
}

.artist .table-head th {
  padding: 0;
  border-bottom: 0;
}

.table-head th {
  color: var(--gray) !important;
  font-family: var(--manrope);
}

.table-head th {
  border-bottom: 1px solid var(--border-color);
  font-weight: 700;
}

.music-table .Mui-active {
  color: var(--gray) !important;
}

.music-table .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root:hover {
  color: var(--gray) !important;
}

.music-table .Mui-active .MuiSvgIcon-root,
.music-table
  .css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root:hover
  .MuiSvgIcon-root {
  fill: var(--white) !important;
}

.see-more {
  background-color: transparent;
  border: none;
  color: var(--gray);
  font-weight: 700;
}

.see-more:hover {
  color: var(--white);
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .music-table-header {
    font-size: 1.5em;
  }

  .table-head th {
    font-size: 1em;
    padding: 1.5em 1em;
  }

  .table-head th > svg {
    width: 1.4em;
    height: 1.3em;
  }

  .see-more {
    margin-top: 1em;
    font-size: 1em;
  }
}
