/* Music Card */
.music-card {
  position: relative;
  background-color: #1c1c1f;
  box-shadow: 0 0 12px 0 #0c0c0e;
  transition: 0.3s;
  cursor: pointer;
}

.music-card:hover {
  background-color: #27272b;
}

.music-card:hover .play-album {
  opacity: 1;
  bottom: 7.8em;
}

.music-card .play-album {
  position: absolute;
  border: none;
  background-color: transparent;
  bottom: 7em;
  right: 2em;
  opacity: 0;
  transition: 0.3s;
}

.music-card .play-album:hover {
  transform: scale(1.1);
}

.music-card .play-album svg path {
  fill: #5cffff;
  stroke: #5cffff;
}

.music-card .play-album svg rect {
  stroke: #5cffff;
}

.music-card .card-img-top {
  box-shadow: 0 0 18px 0 #0c0c0e;
}

.music-card,
.music-card .card-img-top {
  border-radius: 8px;
}

.music-card .card-body {
  padding: 0;
}

.music-card .card-title {
  text-transform: capitalize;
}

.music-card .card-text {
  color: var(--gray);
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .music-card {
    padding: 1.2em;
    width: 18em;
    height: 23em;
  }

  .music-card .play-album svg {
    width: 3.5em;
    height: 3.5em;
  }

  .music-card .card-body {
    padding: 0.5em 0;
  }

  .music-card .card-title {
    font-size: 1.1em;
  }

  .music-card .cart-text {
    font-size: 1em;
  }
}
