/* Album */
.album-image,
.album .no-image {
  border-radius: 8px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.album .no-image > svg path {
  fill: var(--gray);
}

.album-details {
  width: 100%;
}

.album-details > h1,
.album-details > h6 {
  text-transform: capitalize;
  margin: 0;
}

.album-details > h6,
.album-info {
  color: var(--gray);
  font-weight: 700;
}

.album-info > span:nth-of-type(2)::before,
.album-info > span:nth-of-type(3)::before {
  content: "•";
  margin: 0px 4px;
}

.copyrights > p {
  display: inline-flex;
  color: var(--gray);
}

.copyrights > p,
.copyrights > p:last-of-type {
  margin: 0;
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .album-image {
    width: 23em;
    height: 23em;
  }

  .album .no-image {
    width: 32em;
    height: 22em;
  }

  .album .no-image > svg {
    width: 4em;
    height: 4em;
  }

  .album-details {
    margin-left: 3em;
  }

  .album-details > h1 {
    font-size: 5em;
    margin: 0 0 0.4em;
  }

  .album-details > h6 {
    font-size: 1em;
  }

  .album-info,
  .album-info .artists-name {
    font-size: 1.05em;
  }

  .copyrights {
    margin: 1.5em 0 3em;
  }

  .copyrights > p {
    margin-bottom: 0.2em;
    font-size: 0.8em;
  }

  .copyrights > p:first-of-type {
    font-size: 1em;
  }
}
