/* More Options Button */
.more-options-button button {
  border: none;
  background-color: transparent;
}

.album-track-options
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:last-of-type,
.album-track-options
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:last-of-type
  > ul {
  padding: 0 !important;
}