/* Slider Content */
.slider-content {
  -webkit-animation: fadeInLeft;
  animation: fadeInLeft;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

.error-case > h5 {
  color: var(--red) !important;
}

.warning-case > h5 {
  color: var(--yellow) !important;
}

.slider-content > div:first-of-type a {
  color: var(--gray);
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.slider-content > div:first-of-type a:hover {
  color: var(--white);
  text-decoration: underline;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #00b4b4ff !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.mySwiper {
  -webkit-animation: fadeIn;
  animation: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .swiper-wrapper {
    padding: 1.5em 0 1.5em 2em;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
   font-size: 2.5em !important;
  }
}
