/* Slider Content */
.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #00b4b4ff !important;
}

.slider-content {
  -webkit-animation: fadeInLeft;
  animation: fadeInLeft;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

.mySwiper {
  -webkit-animation: fadeIn;
  animation: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.error-case > h5 {
  color: var(--red) !important;
}

.warning-case > h5 {
  color: var(--yellow) !important;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .swiper-wrapper {
    padding: 1em 0.3em;
  }
}
