/* Card */
:root {
  --card-container-border-radius: clamp(
    4px,
    (var(--column-width, 0px) - 32px) * 0.025,
    8px
  );
}

.card {
  position: relative;
  background-color: #181818;
  transition: 0.3s ease;
  border-radius: calc(var(--card-container-border-radius) + 2px);
  -webkit-animation: fadeIn;
  animation: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.card:hover {
  background-color: #282828;
}

.card:hover .pause-play {
  opacity: 1;
  bottom: 7.8em;
}

.card .pause-play {
  position: absolute;
  bottom: 7em;
  right: 2em;
  opacity: 0;
  transition: 0.3s;
}

.card .pause-play:hover {
  transform: scale(1.1);
}

.card .pause-play svg path {
  fill: #5cffff;
  stroke: #5cffff;
}

.card .pause-play svg rect {
  stroke: #5cffff;
}

.card .image-link {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.card .image-link,
.card .image-link > span,
.card .card-img-top {
  width: 100%;
}

.music-card .image-link,
.music-card .card-img-top {
  border-radius: 8px;
}

.artist-card .image-link,
.artist-card .card-img-top {
  border-radius: 50%;
}

.card-img-top {
  object-fit: cover;
}

.card-img-top > svg path {
  fill: var(--gray);
}

.category-card {
  position: relative;
  overflow: hidden;
  border: none;
  text-decoration: none;
  color: var(--white) !important;
}

.category-card .lazy-load-image-background {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 65%;
  height: 65%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transform: rotate(25deg) translate(18%, -2%);
}

.category-card .lazy-load-image-background > img {
  width: 100% !important;
  height: 100% !important;
}

.category-card > h4 {
  z-index: 1;
}

.card .card-body {
  justify-content: center;
}

.card .card-title,
.card .card-text {
  text-transform: capitalize;
  font-family: var(--manrope);
}

.card .card-title {
  font-weight: 800;
}

.card .card-text {
  font-weight: 500;
}

.artist-card .card-text {
  color: var(--gray);
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .card {
    padding: 1.1em;
    width: 16.5em;
    height: 22.5em;
  }

  .category-card {
    padding: 1.2em;
    width: 18em;
    height: 18em;
  }

  .card .pause-play svg {
    width: 3.5em;
    height: 3.5em;
  }

  .music-card .card-img-top {
    height: 14.5em;
  }

  .artist-card .card-img-top {
    height: 14em;
  }

  .card-img-top > svg {
    width: 3em;
    height: 3em;
  }

  .card .card-body {
    padding: 1em 0;
  }

  .card .card-title {
    font-size: 1.25em;
    margin: 0.3em 0 0.4em;
  }

  .category-card .card-title {
    font-size: 1.8em;
    margin: 0;
  }

  .card .artists-name {
    font-size: 1.05em;
  }
}
