/* Card */
:root {
  --card-container-border-radius: clamp(
    4px,
    (var(--column-width, 0px) - 32px) * 0.025,
    8px
  );
}

.card {
  position: relative;
  background-color: #181818;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: calc(var(--card-container-border-radius) + 2px);
  -webkit-animation: fadeIn;
  animation: fadeIn;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

.card:hover {
  background-color: #282828;
}

.card:hover .play-album {
  opacity: 1;
  bottom: 7.8em;
}

.card .play-album {
  position: absolute;
  border: none;
  background-color: transparent;
  bottom: 7em;
  right: 2em;
  opacity: 0;
  transition: 0.3s;
}

.card .play-album:hover {
  transform: scale(1.1);
}

.card .play-album svg path {
  fill: #5cffff;
  stroke: #5cffff;
}

.card .play-album svg rect {
  stroke: #5cffff;
}

.card .card-img-top {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
}

.music-card .card-img-top {
  border-radius: 8px;
}

.artist-card .card-img-top {
  border-radius: 50%;
}

.category-card {
  background-color: transparent !important;
}

.category-card .lazy-load-image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.category-card .lazy-load-image-background > img {
  border-radius: 8px;
  width: 100% !important;
  height: 100% !important;
}

.category-card > h4 {
  z-index: 1;
}

.card .card-body {
  justify-content: center;
}

.card .card-title {
  text-transform: capitalize;
}

.card .card-text {
  color: var(--gray);
  text-transform: capitalize;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .card {
    padding: 1.1em;
    width: 18em;
    height: 23em;
  }

  .category-card {
    padding: 1.2em;
    width: 18em;
    height: 18em;
  }

  .card .play-album svg {
    width: 3.5em;
    height: 3.5em;
  }

  .card .card-img-top {
    width: 100%;
  }
  
  .music-card .card-img-top {
    height: 15em;
  }
  
  .artist-card .card-img-top {
    height: 15.8em;
  }

  .card .card-body {
    padding: 1em 0;
  }

  .card .card-title {
    font-size: 1.25em;
    margin: 0.3em 0 0.4em;
  }

  .category-card .card-title {
    font-size: 1.8em;
    margin: 0;
  }

  .card .card-text {
    font-size: 1.05em;
  }
}
