/* Playlist */
.playlist {
  padding-bottom: 0 !important;
}

.playlist-image,
.playlist .no-image {
  border-radius: 8px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.playlist .no-image > svg path {
  fill: var(--gray);
}

.playlist-details {
  width: 100%;
}

.playlist-details > h1,
.playlist-details > h6 {
  text-transform: capitalize;
  margin: 0;
}

.playlist-details > h6,
.playlist-info {
  color: var(--gray);
  font-weight: 700;
}

.playlist-info > span:nth-of-type(2)::before,
.playlist-info > span:nth-of-type(3)::before {
  content: "•";
  margin: 0px 4px;
}

.playlist-search-bar,
.search-bar {
  border: none;
  border-radius: 5px;
  font-family: var(--manrope);
  font-weight: 600;
  background-color: #292929;
  color: var(--gray);
  transition: 0.3s ease;
}

.playlist-search-bar {
  display: flex;
  align-items: center;
}

.playlist-search-bar svg {
  fill: var(--gray);
}

.search-bar {
  height: 100%;
  width: 100%;
}

.search-bar:focus,
.search-bar:active {
  outline: none;
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .playlist-image {
    width: 23em;
    height: 23em;
  }

  .playlist .no-image {
    width: 32em;
    height: 22em;
  }

  .playlist .no-image > svg {
    width: 4em;
    height: 4em;
  }

  .playlist-no-data > h3 {
    font-size: 1.8em;
    margin-bottom: 1.5em;
  }

  .no-playlistsongs-button {
    font-size: 0.9em;
    padding: 1em 2em;
  }

  .playlist-details {
    margin-left: 3em;
  }

  .playlist-details > h1 {
    font-size: 5em;
    margin: 0.1em 0 0.4em;
  }

  .playlist-details > h6:last-of-type {
    margin-bottom: 1.5em;
  }

  .playlist-details > h6 {
    font-size: 1em;
  }

  .playlist-info,
  .playlist-info .artists-name {
    font-size: 1.05em;
  }

  .playlist-search-bar {
    padding: 0.5em 0.8em;
    width: 12em;
  }

  .playlist-search-bar:hover {
    width: 17em;
  }

  .playlist-search-bar svg {
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.4em;
  }

  .playlist-search-bar .search-bar {
    font-size: 1em;
  }
}
