/* Artist */
.artist-image,
.artist .no-image {
  border-radius: 50%;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.artist .no-image > svg path {
  fill: var(--gray);
}

.artist-details {
  width: 100%;
}

.artist-details > h1,
.artist-details > h6 {
  text-transform: capitalize;
  margin: 0;
}

.artist-details > h6,
.artist-info {
  color: var(--gray);
  font-weight: 700;
}

.copyrights > p {
  display: inline-flex;
  color: var(--gray);
}

.copyrights > p,
.copyrights > p:last-of-type {
  margin: 0;
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .artist-image {
    width: 21.5em;
    height: 22.5em;
  }

  .artist .no-image {
    width: 32em;
    height: 22em;
  }

  .artist .no-image > svg {
    width: 4em;
    height: 4em;
  }

  .artist-details {
    margin-left: 2.5em;
  }

  .artist-details > h1 {
    font-size: 5em;
    margin: 0 0 0.4em;
  }

  .artist-details > h6 {
    font-size: 1em;
  }

  .artist-info,
  .artist-info .artists-name {
    font-size: 1.05em;
  }

  .artist-details > h6 > svg {
    height: 1.5em;
    width: 1.5em;
  }

  .artist .music-table {
    margin-bottom: 4em;
  }

  .artist-discography,
  .artist-fans-also-like,
  .artist-appears-on {
    margin: 3em 0;
  }
}
