/* Navbar */
.navigation {
  position: relative;
  background-color: var(--light-dark);
  height: 100%;
}

.nav-link {
  color: var(--gray);
  font-family: var(--manrope);
  font-weight: 800;
  text-align: center;
}

.nav-link:hover {
  color: var(--white);
}

.active {
  color: var(--cyan) !important;
}

.nav-link > svg path {
  fill: var(--gray);
  transition: 0.3s;
}

.active > svg path,
.active:hover svg path {
  fill: var(--cyan) !important;
}

.nav-link:hover > svg path {
  fill: var(--white);
}

.profile {
  overflow: hidden;
  border-radius: 100%;
}

.profile,
.profile > span,
.profile > span > img {
  width: 100%;
  height: 100%;
}

.profile > span > img {
  -o-object-fit: cover;
  object-fit: cover;
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .nav-brand img {
    width: 3em;
    height: 3em;
  }

  .nav-links {
    margin-top: 3em;
  }

  .nav-link {
    margin-bottom: 2.2em;
    font-size: 0.85em;
  }

  .nav-link:last-of-type {
    margin-bottom: 0;
  }

  .nav-link > svg {
    width: 1.75em;
    height: 1.75em;
    margin-bottom: 0.3em;
  }

  .profile {
    width: 3em;
    height: 2.9em;
  }
}
