/* Navbar */
.navigation {
  border-right: 1px solid var(--dark-gray);
  height: 100%;
}

.nav-link {
  color: var(--gray);
  font-weight: 600;
}

.nav-link:hover {
  color: var(--white);
}

.active {
  color: var(--cyan) !important;
}

.nav-link > svg path {
  fill: var(--gray);
  transition: 0.3s;
}

.active > svg path,
.active:hover svg path {
  fill: var(--cyan) !important;
}

.nav-link:hover > svg path {
  fill: var(--white);
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .navigation {
    padding: 1.5em 0.5em;
  }

  .nav-brand img {
    width: 3em;
    height: 3em;
  }

  .nav-links {
    margin-top: 2em;
  }

  .nav-link {
    margin: 1em 0;
    font-size: 0.9em;
  }

  .nav-link > svg {
    width: 1.7em;
    height: 1.7em;
    margin-bottom: 0.3em;
  }
}
