/* Search */
.search-search-bar,
.search-bar,
.search-menu {
  border: none !important;
  outline: none !important;
  border-radius: 30px !important;
  font-family: var(--manrope) !important;
  font-weight: 600 !important;
  background-color: #292929 !important;
  color: var(--white) !important;
  transition: 0.3s ease;
}

.search-search-bar {
  display: flex;
  align-items: center;
}

.search-search-bar svg,
.search-menu svg {
  fill: var(--gray);
}

.search-menu fieldset {
  border: none !important;
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .search-header {
    margin-bottom: 1em;
  }

  .search-search-bar {
    padding: 1em;
    width: 25em;
  }

  .search-search-bar svg {
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.4em;
  }

  .search-search-bar .search-bar {
    font-size: 1em;
  }

  .search-menu {
    width: 7em;
    font-size: 1em !important;
    margin-left: 0.5em;
  }

  .category-playlist-list .category-card {
    margin: 1em;
  }
}
