/* Player */
.player {
  margin: 0;
  background-color: transparent;
  width: 100%;
}

.player button {
  border: none;
  background-color: transparent;
}

.m-desc > a {
  color: var(--white);
  text-decoration: none;
}

.m-desc > a:hover {
  text-decoration: underline;
}

.m-desc > a > p {
  color: var(--gray);
}

.m-position {
  font-weight: 600;
  color: var(--gray);
}

/* Player Component Svgs */
.player svg path {
  fill: var(--gray);
  stroke: var(--gray);
}

.player svg rect {
  stroke: var(--gray);
}

.player svg,
.player svg path,
.player svg rect {
  transition: 0.2s;
}

.player svg:active {
  transform: scale(0.95);
}

.player .pause-play svg path,
.player svg:hover path {
  fill: var(--white);
  stroke: var(--white);
}

.player .pause-play svg rect,
.player svg:hover rect {
  stroke: var(--white);
}

/* Progress Bar */
input[type="range"] {
  -webkit-appearance: none;
  background-color: var(--dark-gray);
  border-radius: 5px;
  background-image: linear-gradient(var(--white), var(--white));
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  background: var(--white);
  box-shadow: 0 0 10px 0 var(--dark);
  opacity: 0;
}

input[type="range"]:hover {
  background-image: linear-gradient(var(--cyan), var(--cyan));
}

input[type="range"]:hover::-webkit-slider-thumb {
  opacity: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.active-opt > svg path,
.active-opt > svg path:hover {
  fill: var(--cyan) !important;
  stroke: var(--cyan) !important;
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  .player {
    padding: 0.8em 1em;
  }

  input[type="range"] {
    height: 5px;
  }

  input[type="range"]::-webkit-slider-thumb {
    height: 14px;
    width: 14px;
  }

  .music-description > img,
  .m-desc {
    margin-right: 0.8em;
  }

  .music-description > img {
    width: 3.2em;
    height: 3.2em;
  }

  .m-desc > * {
    margin: 0em;
  }

  .m-desc > a:first-of-type {
    margin-bottom: 0.4em;
  }

  .m-desc > a > h4 {
    font-size: 1em;
    margin: 0;
  }

  .m-desc > span > a {
    font-size: 0.7em;
    margin: 0;
  }

  .player .like-button > svg {
    width: 1.2em;
    height: 1.3em;
  }

  .player .pause-play {
    margin: 0 0.2em;
  }

  .player .pause-play > svg {
    width: 2.3em;
    height: 2.3em;
  }

  .playback-arrow > svg {
    width: 1.5em;
    height: 1.5em;
  }

  .music-progress {
    margin-top: 0.5em;
  }

  .m-progress {
    margin: 0 0.5em;
  }

  input[type="range"].m-progress {
    width: 40em;
  }

  .m-position {
    font-size: 0.8em;
  }

  .more-options > * {
    margin: 0 0.1em;
  }

  .more-options > button > svg,
  .volume-toggler > svg {
    width: 1.1em;
    height: 1.1em;
  }

  input[type="range"].v-progress {
    width: 9em;
    margin-left: 0.1em;
  }
}
