/* Likes */
.likes {
  padding-bottom: 0 !important;
}

.likes-image {
  border-radius: 8px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.likes-details {
  width: 100%;
}

.likes-details > h1,
.likes-details > h6 {
  text-transform: capitalize;
  margin: 0;
}

.likes-details > h6,
.likes-info {
  color: var(--gray);
  font-weight: 700;
}

.likes-info > span:nth-of-type(2)::before,
.likes-info > span:nth-of-type(3)::before {
  content: "•";
  margin: 0px 4px;
}

.likes-search-bar,
.search-bar {
  border: none;
  border-radius: 20px;
  font-family: var(--manrope);
  font-weight: 600;
  background-color: #292929;
  color: var(--gray);
  transition: 0.3s ease;
}

.likes-search-bar {
  display: flex;
  align-items: center;
}

.likes-search-bar svg {
  fill: var(--gray);
}

.search-bar {
  height: 100%;
  width: 100%;
}

.search-bar:focus,
.search-bar:active {
  outline: none;
}

.liked-songs-pagination > div {
  color: var(--gray);
  padding: 0;
}

.MuiTablePagination-spacer {
  display: block;
}

.liked-songs-pagination > div > p,
.liked-songs-pagination .MuiInputBase-root {
  margin-bottom: 0;
  font-weight: 600;
}

.liked-songs-pagination .MuiSvgIcon-root > path {
  fill: var(--white);
}

.liked-songs-pagination .Mui-disabled {
  opacity: 0.5;
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .likes-image {
    width: 23em;
    height: 23em;
  }

  .likes-details {
    margin-left: 3em;
  }

  .likes-details > h1 {
    font-size: 5em;
    margin: 0 0 0.3em;
  }

  .likes-details > h6:last-of-type {
    margin-bottom: 0.5em;
  }

  .likes-details > h6 {
    font-size: 1em;
  }

  .likes-info,
  .likes-info .artists-name {
    font-size: 1.05em;
  }

  .likes-search-bar {
    padding: 0.5em 0.8em;
    width: 12em;
  }

  .likes-search-bar:hover {
    width: 17em;
  }

  .likes-search-bar svg {
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.6em;
  }

  .likes-search-bar .search-bar {
    font-size: 1em;
  }

  .liked-songs-pagination {
    margin-top: 1em;
  }

  .liked-songs-pagination > div > p {
    font-size: 1.2em;
  }

  .liked-songs-pagination .MuiInputBase-root {
    font-size: 1.3em;
  }

  .liked-songs-pagination .MuiSelect-select {
    padding: 0.5em 1.8em !important;
  }

  .liked-songs-pagination .MuiButtonBase-root {
    margin: 0 0.3em;
  }

  .liked-songs-pagination .MuiButtonBase-root svg {
    font-size: 1.3em;
  }

  .liked-songs-pagination .MuiInputBase-root svg {
    font-size: 1.5em;
  }

  .no-songs {
    margin-top: 6em;
  }

  .no-songs-icon {
    width: 5em;
    height: 5em;
  }

  .no-songs-header {
    font-size: 2em;
    margin: 0.8em;
  }

  .no-songs-paragraph {
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  .no-songs-button {
    font-size: 1em;
    padding: 1em 2em;
  }
}
