/* Detail Page Options */
.detail-page-options .pause-play svg path {
  fill: #5cffff;
  stroke: #5cffff;
}

.detail-page-options .pause-play svg rect {
  stroke: #5cffff;
}

/* Desktop */
@media only screen and (width >= 1024px) {
  .detail-page-options {
    margin: 2.5em 0;
  }

  .detail-page-options .pause-play svg {
    width: 4em;
    height: 4em;
  }

  .detail-page-options .pause-play {
    margin-right: 1em;
  }

  .detail-page-options .like-button > svg {
    width: 2em;
    height: 2em;
  }

  .detail-page-options .like-button {
    margin-right: 0.5em;
  }

  .detail-page-options .more-options-button svg {
    width: 1.5em;
    height: 1.5em;
  }
}
